:root {
  --sys-font-display-display-large-fontsize: 60px;
  --sys-font-display-display-large-textdecoration: none;
  --sys-font-display-display-large-fontfamily: Inter;
  --sys-font-display-display-large-fontweight: 600;
  --sys-font-display-display-large-fontstyle: normal;
  --sys-font-display-display-large-fontstretch: normal;
  --sys-font-display-display-large-letterspacing: -4px;
  --sys-font-display-display-large-lineheight: 64px;
  --sys-font-display-display-large-paragraphindent: 0px;
  --sys-font-display-display-large-paragraphspacing: 0px;
  --sys-font-display-display-large-textcase: capitalize;
  --sys-font-display-display-medium-fontsize: 45px;
  --sys-font-display-display-medium-textdecoration: none;
  --sys-font-display-display-medium-fontfamily: Inter;
  --sys-font-display-display-medium-fontweight: 600;
  --sys-font-display-display-medium-fontstyle: normal;
  --sys-font-display-display-medium-fontstretch: normal;
  --sys-font-display-display-medium-letterspacing: -1px;
  --sys-font-display-display-medium-lineheight: 52px;
  --sys-font-display-display-medium-paragraphindent: 0px;
  --sys-font-display-display-medium-paragraphspacing: 0px;
  --sys-font-display-display-medium-textcase: capitalize;
  --sys-font-display-display-small-fontsize: 36px;
  --sys-font-display-display-small-textdecoration: none;
  --sys-font-display-display-small-fontfamily: Inter;
  --sys-font-display-display-small-fontweight: 600;
  --sys-font-display-display-small-fontstyle: normal;
  --sys-font-display-display-small-fontstretch: normal;
  --sys-font-display-display-small-letterspacing: -2px;
  --sys-font-display-display-small-lineheight: 44px;
  --sys-font-display-display-small-paragraphindent: 0px;
  --sys-font-display-display-small-paragraphspacing: 0px;
  --sys-font-display-display-small-textcase: capitalize;
  --sys-font-headline-headline-large-fontsize: 32px;
  --sys-font-headline-headline-large-textdecoration: none;
  --sys-font-headline-headline-large-fontfamily: Inter;
  --sys-font-headline-headline-large-fontweight: 600;
  --sys-font-headline-headline-large-fontstyle: normal;
  --sys-font-headline-headline-large-fontstretch: normal;
  --sys-font-headline-headline-large-letterspacing: -1.5px;
  --sys-font-headline-headline-large-lineheight: 40px;
  --sys-font-headline-headline-large-paragraphindent: 0px;
  --sys-font-headline-headline-large-paragraphspacing: 0px;
  --sys-font-headline-headline-large-textcase: capitalize;
  --sys-font-headline-headline-medium-fontsize: 28px;
  --sys-font-headline-headline-medium-textdecoration: none;
  --sys-font-headline-headline-medium-fontfamily: Inter;
  --sys-font-headline-headline-medium-fontweight: 600;
  --sys-font-headline-headline-medium-fontstyle: normal;
  --sys-font-headline-headline-medium-fontstretch: normal;
  --sys-font-headline-headline-medium-letterspacing: -1.2px;
  --sys-font-headline-headline-medium-lineheight: 36px;
  --sys-font-headline-headline-medium-paragraphindent: 0px;
  --sys-font-headline-headline-medium-paragraphspacing: 0px;
  --sys-font-headline-headline-medium-textcase: capitalize;
  --sys-font-headline-headline-small-fontsize: 24px;
  --sys-font-headline-headline-small-textdecoration: none;
  --sys-font-headline-headline-small-fontfamily: Inter;
  --sys-font-headline-headline-small-fontweight: 500;
  --sys-font-headline-headline-small-fontstyle: normal;
  --sys-font-headline-headline-small-fontstretch: normal;
  --sys-font-headline-headline-small-letterspacing: -1px;
  --sys-font-headline-headline-small-lineheight: 32px;
  --sys-font-headline-headline-small-paragraphindent: 0px;
  --sys-font-headline-headline-small-paragraphspacing: 0px;
  --sys-font-headline-headline-small-textcase: capitalize;
  --sys-font-title-title-large-fontsize: 22px;
  --sys-font-title-title-large-textdecoration: none;
  --sys-font-title-title-large-fontfamily: Inter;
  --sys-font-title-title-large-fontweight: 600;
  --sys-font-title-title-large-fontstyle: normal;
  --sys-font-title-title-large-fontstretch: normal;
  --sys-font-title-title-large-letterspacing: -0.85px;
  --sys-font-title-title-large-lineheight: 28px;
  --sys-font-title-title-large-paragraphindent: 0px;
  --sys-font-title-title-large-paragraphspacing: 0px;
  --sys-font-title-title-large-textcase: capitalize;
  --sys-font-title-title-medium-fontsize: 16px;
  --sys-font-title-title-medium-textdecoration: none;
  --sys-font-title-title-medium-fontfamily: Inter;
  --sys-font-title-title-medium-fontweight: 600;
  --sys-font-title-title-medium-fontstyle: normal;
  --sys-font-title-title-medium-fontstretch: normal;
  --sys-font-title-title-medium-letterspacing: -0.5px;
  --sys-font-title-title-medium-lineheight: 24px;
  --sys-font-title-title-medium-paragraphindent: 0px;
  --sys-font-title-title-medium-paragraphspacing: 0px;
  --sys-font-title-title-medium-textcase: capitalize;
  --sys-font-title-title-small-fontsize: 14px;
  --sys-font-title-title-small-textdecoration: none;
  --sys-font-title-title-small-fontfamily: Inter;
  --sys-font-title-title-small-fontweight: 500;
  --sys-font-title-title-small-fontstyle: normal;
  --sys-font-title-title-small-fontstretch: normal;
  --sys-font-title-title-small-letterspacing: -0.5px;
  --sys-font-title-title-small-lineheight: 20px;
  --sys-font-title-title-small-paragraphindent: 0px;
  --sys-font-title-title-small-paragraphspacing: 0px;
  --sys-font-title-title-small-textcase: capitalize;
  --sys-font-body-body-large-fontsize: 16px;
  --sys-font-body-body-large-textdecoration: none;
  --sys-font-body-body-large-fontfamily: Inter;
  --sys-font-body-body-large-fontweight: 500;
  --sys-font-body-body-large-fontstyle: normal;
  --sys-font-body-body-large-fontstretch: normal;
  --sys-font-body-body-large-letterspacing: -0.95px;
  --sys-font-body-body-large-lineheight: 24px;
  --sys-font-body-body-large-paragraphindent: 0px;
  --sys-font-body-body-large-paragraphspacing: 0px;
  --sys-font-body-body-large-textcase: capitalize;
  --sys-font-body-body-medium-fontsize: 14px;
  --sys-font-body-body-medium-textdecoration: none;
  --sys-font-body-body-medium-fontfamily: Inter;
  --sys-font-body-body-medium-fontweight: 500;
  --sys-font-body-body-medium-fontstyle: normal;
  --sys-font-body-body-medium-fontstretch: normal;
  --sys-font-body-body-medium-letterspacing: -0.95px;
  --sys-font-body-body-medium-lineheight: 20px;
  --sys-font-body-body-medium-paragraphindent: 0px;
  --sys-font-body-body-medium-paragraphspacing: 0px;
  --sys-font-body-body-medium-textcase: capitalize;
  --sys-font-body-body-small-fontsize: 12px;
  --sys-font-body-body-small-textdecoration: none;
  --sys-font-body-body-small-fontfamily: Inter;
  --sys-font-body-body-small-fontweight: 500;
  --sys-font-body-body-small-fontstyle: normal;
  --sys-font-body-body-small-fontstretch: normal;
  --sys-font-body-body-small-letterspacing: -0.85px;
  --sys-font-body-body-small-lineheight: 18px;
  --sys-font-body-body-small-paragraphindent: 0px;
  --sys-font-body-body-small-paragraphspacing: 0px;
  --sys-font-body-body-small-textcase: capitalize;
  --sys-font-label-label-large-fontsize: 14px;
  --sys-font-label-label-large-textdecoration: none;
  --sys-font-label-label-large-fontfamily: Inter;
  --sys-font-label-label-large-fontweight: 600;
  --sys-font-label-label-large-fontstyle: normal;
  --sys-font-label-label-large-fontstretch: normal;
  --sys-font-label-label-large-letterspacing: -0.85px;
  --sys-font-label-label-large-lineheight: 20px;
  --sys-font-label-label-large-paragraphindent: 0px;
  --sys-font-label-label-large-paragraphspacing: 0px;
  --sys-font-label-label-large-textcase: capitalize;
  --sys-font-label-label-medium-fontsize: 12px;
  --sys-font-label-label-medium-textdecoration: none;
  --sys-font-label-label-medium-fontfamily: Inter;
  --sys-font-label-label-medium-fontweight: 500;
  --sys-font-label-label-medium-fontstyle: normal;
  --sys-font-label-label-medium-fontstretch: normal;
  --sys-font-label-label-medium-letterspacing: -0.5px;
  --sys-font-label-label-medium-lineheight: 16px;
  --sys-font-label-label-medium-paragraphindent: 0px;
  --sys-font-label-label-medium-paragraphspacing: 0px;
  --sys-font-label-label-medium-textcase: capitalize;
  --sys-font-label-label-small-fontsize: 11px;
  --sys-font-label-label-small-textdecoration: none;
  --sys-font-label-label-small-fontfamily: Inter;
  --sys-font-label-label-small-fontweight: 500;
  --sys-font-label-label-small-fontstyle: normal;
  --sys-font-label-label-small-fontstretch: normal;
  --sys-font-label-label-small-letterspacing: -0.5px;
  --sys-font-label-label-small-lineheight: 16px;
  --sys-font-label-label-small-paragraphindent: 0px;
  --sys-font-label-label-small-paragraphspacing: 0px;
  --sys-font-label-label-small-textcase: capitalize;
  --sys-primitive-color-collections-key-group-color-primary-key-color: #003ce6ff;
  --sys-primitive-color-collections-key-group-color-secondary-key-color: #7d58f3ff;
  --sys-primitive-color-collections-key-group-color-tertiary-key-color: #3f3e70ff;
  --sys-primitive-color-collections-key-group-color-neutral-key-color: #191919ff;
  --sys-primitive-color-collections-key-group-color-neutral-variant-key-color: #474747ff;
  --sys-primitive-color-collections-key-group-color-error-key-color: #e52424ff;
  --sys-primitive-color-collections-key-group-color-accent-key-color: #c99347ff;
  --sys-primitive-color-collections-key-group-color-success-key-color: #30b238ff;
  --sys-primitive-color-collections-key-group-color-warning-key-color: #ccb844ff;
  --sys-primitive-color-collections-color-palettes-primary-primary0: #000000ff;
  --sys-primitive-color-collections-color-palettes-primary-primary10: #000d33ff;
  --sys-primitive-color-collections-color-palettes-primary-primary20: #001b66ff;
  --sys-primitive-color-collections-color-palettes-primary-primary30: #002899ff;
  --sys-primitive-color-collections-color-palettes-primary-primary40: #0035ccff;
  --sys-primitive-color-collections-color-palettes-primary-primary50: #0043ffff;
  --sys-primitive-color-collections-color-palettes-primary-primary60: #3368ffff;
  --sys-primitive-color-collections-color-palettes-primary-primary70: #80a1ffff;
  --sys-primitive-color-collections-color-palettes-primary-primary80: #99b4ffff;
  --sys-primitive-color-collections-color-palettes-primary-primary90: #dbe5ffff;
  --sys-primitive-color-collections-color-palettes-primary-primary95: #e5ecffff;
  --sys-primitive-color-collections-color-palettes-primary-primary98: #f5f7ffff;
  --sys-primitive-color-collections-color-palettes-primary-primary99: #fafbffff;
  --sys-primitive-color-collections-color-palettes-primary-primary100: #ffffffff;
  --sys-primitive-color-collections-color-palettes-secondary-secondary0: #000000ff;
  --sys-primitive-color-collections-color-palettes-secondary-secondary10: #0e0330ff;
  --sys-primitive-color-collections-color-palettes-secondary-secondary20: #1c075fff;
  --sys-primitive-color-collections-color-palettes-secondary-secondary30: #340db0ff;
  --sys-primitive-color-collections-color-palettes-secondary-secondary40: #380ebeff;
  --sys-primitive-color-collections-color-palettes-secondary-secondary50: #5829f0ff;
  --sys-primitive-color-collections-color-palettes-secondary-secondary60: #6b41f1ff;
  --sys-primitive-color-collections-color-palettes-secondary-secondary70: #9070f5ff;
  --sys-primitive-color-collections-color-palettes-secondary-secondary80: #b5a0f8ff;
  --sys-primitive-color-collections-color-palettes-secondary-secondary90: #dacffcff;
  --sys-primitive-color-collections-color-palettes-secondary-secondary95: #ece7fdff;
  --sys-primitive-color-collections-color-palettes-secondary-secondary98: #f8f5feff;
  --sys-primitive-color-collections-color-palettes-secondary-secondary99: #fbfaffff;
  --sys-primitive-color-collections-color-palettes-secondary-secondary100: #ffffffff;
  --sys-primitive-color-collections-color-palettes-tertiary-tertiary0: #000000ff;
  --sys-primitive-color-collections-color-palettes-tertiary-tertiary10: #121221ff;
  --sys-primitive-color-collections-color-palettes-tertiary-tertiary20: #2e2d52ff;
  --sys-primitive-color-collections-color-palettes-tertiary-tertiary30: #373762ff;
  --sys-primitive-color-collections-color-palettes-tertiary-tertiary40: #4a4983ff;
  --sys-primitive-color-collections-color-palettes-tertiary-tertiary50: #5c5ba4ff;
  --sys-primitive-color-collections-color-palettes-tertiary-tertiary60: #7d7cb6ff;
  --sys-primitive-color-collections-color-palettes-tertiary-tertiary70: #aeadd2ff;
  --sys-primitive-color-collections-color-palettes-tertiary-tertiary80: #bebddbff;
  --sys-primitive-color-collections-color-palettes-tertiary-tertiary90: #e8e8f2ff;
  --sys-primitive-color-collections-color-palettes-tertiary-tertiary95: #efeff6ff;
  --sys-primitive-color-collections-color-palettes-tertiary-tertiary98: #f8f8fbff;
  --sys-primitive-color-collections-color-palettes-tertiary-tertiary99: #fcfcfdff;
  --sys-primitive-color-collections-color-palettes-tertiary-tertiary100: #ffffffff;
  --sys-primitive-color-collections-color-palettes-neutral-neutral0: #000000ff;
  --sys-primitive-color-collections-color-palettes-neutral-neutral10: #191919ff;
  --sys-primitive-color-collections-color-palettes-neutral-neutral20: #333333ff;
  --sys-primitive-color-collections-color-palettes-neutral-neutral30: #4c4c4cff;
  --sys-primitive-color-collections-color-palettes-neutral-neutral40: #666666ff;
  --sys-primitive-color-collections-color-palettes-neutral-neutral50: #808080ff;
  --sys-primitive-color-collections-color-palettes-neutral-neutral60: #999999ff;
  --sys-primitive-color-collections-color-palettes-neutral-neutral70: #b3b3b3ff;
  --sys-primitive-color-collections-color-palettes-neutral-neutral80: #ccccccff;
  --sys-primitive-color-collections-color-palettes-neutral-neutral90: #e6e6e6ff;
  --sys-primitive-color-collections-color-palettes-neutral-neutral95: #f2f2f2ff;
  --sys-primitive-color-collections-color-palettes-neutral-neutral98: #fafafaff;
  --sys-primitive-color-collections-color-palettes-neutral-neutral99: #fcfcfcff;
  --sys-primitive-color-collections-color-palettes-neutral-neutral100: #ffffffff;
  --sys-primitive-color-collections-color-palettes-neutral-variant-neutral-variant0: #000000ff;
  --sys-primitive-color-collections-color-palettes-neutral-variant-neutral-variant10: #191919ff;
  --sys-primitive-color-collections-color-palettes-neutral-variant-neutral-variant20: #404040ff;
  --sys-primitive-color-collections-color-palettes-neutral-variant-neutral-variant30: #4c4c4cff;
  --sys-primitive-color-collections-color-palettes-neutral-variant-neutral-variant40: #666666ff;
  --sys-primitive-color-collections-color-palettes-neutral-variant-neutral-variant50: #808080ff;
  --sys-primitive-color-collections-color-palettes-neutral-variant-neutral-variant60: #a3a3a3ff;
  --sys-primitive-color-collections-color-palettes-neutral-variant-neutral-variant70: #c4c4c4ff;
  --sys-primitive-color-collections-color-palettes-neutral-variant-neutral-variant80: #dbdbdbff;
  --sys-primitive-color-collections-color-palettes-neutral-variant-neutral-variant-90: #ebebebff;
  --sys-primitive-color-collections-color-palettes-neutral-variant-neutral-variant95: #f2f2f2ff;
  --sys-primitive-color-collections-color-palettes-neutral-variant-neutral-variant98: #fafafaff;
  --sys-primitive-color-collections-color-palettes-neutral-variant-neutral-variant99: #fcfcfcff;
  --sys-primitive-color-collections-color-palettes-neutral-variant-neutral-variant100: #ffffffff;
  --sys-primitive-color-collections-color-palettes-accent-accent0: #000000ff;
  --sys-primitive-color-collections-color-palettes-accent-accent10: #271c0cff;
  --sys-primitive-color-collections-color-palettes-accent-accent20: #8a6128ff;
  --sys-primitive-color-collections-color-palettes-accent-accent30: #9e6f2eff;
  --sys-primitive-color-collections-color-palettes-accent-accent40: #cb974eff;
  --sys-primitive-color-collections-color-palettes-accent-accent50: #d1a261ff;
  --sys-primitive-color-collections-color-palettes-accent-accent60: #e0c195ff;
  --sys-primitive-color-collections-color-palettes-accent-accent70: #efdfc8ff;
  --sys-primitive-color-collections-color-palettes-accent-accent80: #f5eadcff;
  --sys-primitive-color-collections-color-palettes-accent-accent90: #f3e8d8ff;
  --sys-primitive-color-collections-color-palettes-accent-accent95: #f9f3ebff;
  --sys-primitive-color-collections-color-palettes-accent-accent98: #fdfaf7ff;
  --sys-primitive-color-collections-color-palettes-accent-accent99: #fefdfbff;
  --sys-primitive-color-collections-color-palettes-accent-accent100: #ffffffff;
  --sys-primitive-color-collections-color-palettes-error-error0: #000000ff;
  --sys-primitive-color-collections-color-palettes-error-error10: #2e0505ff;
  --sys-primitive-color-collections-color-palettes-error-error20: #5b0b0bff;
  --sys-primitive-color-collections-color-palettes-error-error30: #891010ff;
  --sys-primitive-color-collections-color-palettes-error-error40: #b61616ff;
  --sys-primitive-color-collections-color-palettes-error-error50: #e52424ff;
  --sys-primitive-color-collections-color-palettes-error-error60: #e94949ff;
  --sys-primitive-color-collections-color-palettes-error-error70: #ef7676ff;
  --sys-primitive-color-collections-color-palettes-error-error80: #f4a4a4ff;
  --sys-primitive-color-collections-color-palettes-error-error90: #fad1d1ff;
  --sys-primitive-color-collections-color-palettes-error-error95: #fce8e8ff;
  --sys-primitive-color-collections-color-palettes-error-error98: #fef6f6ff;
  --sys-primitive-color-collections-color-palettes-error-error99: #fefafaff;
  --sys-primitive-color-collections-color-palettes-error-error100: #ffffffff;
  --sys-primitive-color-collections-color-palettes-success-success0: #000000ff;
  --sys-primitive-color-collections-color-palettes-success-success10: #0b280dff;
  --sys-primitive-color-collections-color-palettes-success-success20: #165019ff;
  --sys-primitive-color-collections-color-palettes-success-success30: #207926ff;
  --sys-primitive-color-collections-color-palettes-success-success40: #2ba133ff;
  --sys-primitive-color-collections-color-palettes-success-success50: #36c940ff;
  --sys-primitive-color-collections-color-palettes-success-success60: #5ed466ff;
  --sys-primitive-color-collections-color-palettes-success-success70: #86df8cff;
  --sys-primitive-color-collections-color-palettes-success-success80: #afe9b2ff;
  --sys-primitive-color-collections-color-palettes-success-success90: #d7f4d9ff;
  --sys-primitive-color-collections-color-palettes-success-success95: #ebfaecff;
  --sys-primitive-color-collections-color-palettes-success-success98: #f7fdf7ff;
  --sys-primitive-color-collections-color-palettes-success-success99: #fbfefbff;
  --sys-primitive-color-collections-color-palettes-success-success100: #ffffffff;
  --sys-primitive-color-collections-color-palettes-warning-warning0: #000000ff;
  --sys-primitive-color-collections-color-palettes-warning-warning10: #28240bff;
  --sys-primitive-color-collections-color-palettes-warning-warning20: #504716ff;
  --sys-primitive-color-collections-color-palettes-warning-warning30: #786b21ff;
  --sys-primitive-color-collections-color-palettes-warning-warning40: #a08f2cff;
  --sys-primitive-color-collections-color-palettes-warning-warning50: #cdb947ff;
  --sys-primitive-color-collections-color-palettes-warning-warning60: #d3c25fff;
  --sys-primitive-color-collections-color-palettes-warning-warning70: #ded187ff;
  --sys-primitive-color-collections-color-palettes-warning-warning80: #e9e0afff;
  --sys-primitive-color-collections-color-palettes-warning-warning90: #f4f0d7ff;
  --sys-primitive-color-collections-color-palettes-warning-warning95: #faf7ebff;
  --sys-primitive-color-collections-color-palettes-warning-warning98: #fdfcf7ff;
  --sys-primitive-color-collections-color-palettes-warning-warning99: #fefdfbff;
  --sys-primitive-color-collections-color-palettes-warning-warning100: #ffffffff;
  --sys-color-roles-primary-role-primary-color-role: var(--sys-primitive-color-collections-key-group-color-primary-key-color);
  --sys-color-roles-primary-role-on-primary-color-role: var(--sys-primitive-color-collections-color-palettes-primary-primary100);
  --sys-color-roles-primary-role-primary-container-role: var(--sys-primitive-color-collections-color-palettes-primary-primary90);
  --sys-color-roles-primary-role-on-primary-container-role: var(--sys-primitive-color-collections-color-palettes-primary-primary30);
  --sys-color-roles-secondary-role-secondary-color-role: var(--sys-primitive-color-collections-color-palettes-secondary-secondary40);
  --sys-color-roles-secondary-role-on-secondary-role: var(--sys-primitive-color-collections-color-palettes-secondary-secondary100);
  --sys-color-roles-secondary-role-secondary-container-role: var(--sys-primitive-color-collections-color-palettes-secondary-secondary90);
  --sys-color-roles-secondary-role-on-secondary-container-role: var(--sys-primitive-color-collections-color-palettes-secondary-secondary30);
  --sys-color-roles-tertiary-role-tertiary-color-role: var(--sys-primitive-color-collections-color-palettes-tertiary-tertiary40);
  --sys-color-roles-tertiary-role-on-tertiary-color-role: var(--sys-primitive-color-collections-color-palettes-tertiary-tertiary100);
  --sys-color-roles-tertiary-role-tertiary-container-role: var(--sys-primitive-color-collections-color-palettes-tertiary-tertiary90);
  --sys-color-roles-tertiary-role-on-tertiary-container-role: var(--sys-primitive-color-collections-color-palettes-tertiary-tertiary30);
  --sys-color-roles-neutral-role-neutral-color-role: var(--sys-primitive-color-collections-color-palettes-neutral-neutral98);
  --sys-color-roles-neutral-role-on-neutral-color-role: var(--sys-primitive-color-collections-color-palettes-neutral-neutral10);
  --sys-color-roles-neutral-role-neutral-container-role: var(--sys-primitive-color-collections-color-palettes-neutral-neutral90);
  --sys-color-roles-neutral-role-on-neutral-container-role: var(--sys-primitive-color-collections-color-palettes-neutral-neutral30);
  --sys-color-roles-neutral-role-neutral-container-low: var(--sys-primitive-color-collections-color-palettes-neutral-neutral95);
  --sys-color-roles-neutral-role-neutral-container-lowest: var(--sys-primitive-color-collections-color-palettes-neutral-neutral100);
  --sys-color-roles-neutral-variant-role-neutral-variant: var(--sys-primitive-color-collections-color-palettes-neutral-neutral90);
  --sys-color-roles-neutral-variant-role-on-neutral-variant: var(--sys-primitive-color-collections-color-palettes-neutral-neutral30);
  --sys-color-roles-neutral-variant-role-neutral-variant-container: var(--sys-primitive-color-collections-color-palettes-neutral-variant-neutral-variant-90);
  --sys-color-roles-neutral-variant-role-on-neutral-variant-role: var(--sys-primitive-color-collections-color-palettes-neutral-variant-neutral-variant30);
  --sys-color-roles-error-role-error-color-role: var(--sys-primitive-color-collections-color-palettes-error-error40);
  --sys-color-roles-error-role-on-error-color-role: var(--sys-primitive-color-collections-color-palettes-error-error100);
  --sys-color-roles-error-role-error-container-role: var(--sys-primitive-color-collections-color-palettes-error-error90);
  --sys-color-roles-error-role-on-error-container-role: var(--sys-primitive-color-collections-color-palettes-error-error30);
  --sys-color-roles-success-role-success-color-role: var(--sys-primitive-color-collections-color-palettes-success-success40);
  --sys-color-roles-success-role-on-success-role: var(--sys-primitive-color-collections-color-palettes-success-success100);
  --sys-color-roles-success-role-success-conatiner-role: var(--sys-primitive-color-collections-color-palettes-success-success90);
  --sys-color-roles-success-role-on-success-container-role: var(--sys-primitive-color-collections-color-palettes-success-success30);
  --sys-color-roles-accent-role-accent-color-role: var(--sys-primitive-color-collections-color-palettes-accent-accent40);
  --sys-color-roles-accent-role-on-accent-color-role: var(--sys-primitive-color-collections-color-palettes-accent-accent100);
  --sys-color-roles-accent-role-accent-container-role: var(--sys-primitive-color-collections-color-palettes-accent-accent90);
  --sys-color-roles-accent-role-on-accent-container-role: var(--sys-primitive-color-collections-color-palettes-accent-accent30);
  --sys-color-roles-warning-role-warning-color-role: var(--sys-primitive-color-collections-color-palettes-warning-warning40);
  --sys-color-roles-warning-role-on-warning-color-role: var(--sys-primitive-color-collections-color-palettes-warning-warning100);
  --sys-color-roles-warning-role-warning-container-role: var(--sys-primitive-color-collections-color-palettes-warning-warning90);
  --sys-color-roles-warning-role-on-warnimg-container-role: var(--sys-primitive-color-collections-color-palettes-warning-warning30);
  --sys-color-roles-outline-role-outline-color-role: var(--sys-primitive-color-collections-color-palettes-neutral-variant-neutral-variant50);
  --sys-color-roles-outline-role-outline-variant-color-role: var(--sys-primitive-color-collections-color-palettes-neutral-variant-neutral-variant80);
  --sys-typography-display-display-large-fontsize: 60px;
  --sys-typography-display-display-large-textdecoration: none;
  --sys-typography-display-display-large-fontfamily: Inter;
  --sys-typography-display-display-large-fontweight: 600;
  --sys-typography-display-display-large-fontstyle: normal;
  --sys-typography-display-display-large-fontstretch: normal;
  --sys-typography-display-display-large-letterspacing: -4px;
  --sys-typography-display-display-large-lineheight: 64px;
  --sys-typography-display-display-large-paragraphindent: 0px;
  --sys-typography-display-display-large-paragraphspacing: 0px;
  --sys-typography-display-display-large-textcase: capitalize;
  --sys-typography-display-display-medium-fontsize: 45px;
  --sys-typography-display-display-medium-textdecoration: none;
  --sys-typography-display-display-medium-fontfamily: Inter;
  --sys-typography-display-display-medium-fontweight: 600;
  --sys-typography-display-display-medium-fontstyle: normal;
  --sys-typography-display-display-medium-fontstretch: normal;
  --sys-typography-display-display-medium-letterspacing: -1px;
  --sys-typography-display-display-medium-lineheight: 52px;
  --sys-typography-display-display-medium-paragraphindent: 0px;
  --sys-typography-display-display-medium-paragraphspacing: 0px;
  --sys-typography-display-display-medium-textcase: capitalize;
  --sys-typography-display-display-small-fontsize: 36px;
  --sys-typography-display-display-small-textdecoration: none;
  --sys-typography-display-display-small-fontfamily: Inter;
  --sys-typography-display-display-small-fontweight: 600;
  --sys-typography-display-display-small-fontstyle: normal;
  --sys-typography-display-display-small-fontstretch: normal;
  --sys-typography-display-display-small-letterspacing: -2px;
  --sys-typography-display-display-small-lineheight: 44px;
  --sys-typography-display-display-small-paragraphindent: 0px;
  --sys-typography-display-display-small-paragraphspacing: 0px;
  --sys-typography-display-display-small-textcase: capitalize;
  --sys-typography-headline-headline-large-fontsize: 32px;
  --sys-typography-headline-headline-large-textdecoration: none;
  --sys-typography-headline-headline-large-fontfamily: Inter;
  --sys-typography-headline-headline-large-fontweight: 600;
  --sys-typography-headline-headline-large-fontstyle: normal;
  --sys-typography-headline-headline-large-fontstretch: normal;
  --sys-typography-headline-headline-large-letterspacing: -1.5px;
  --sys-typography-headline-headline-large-lineheight: 40px;
  --sys-typography-headline-headline-large-paragraphindent: 0px;
  --sys-typography-headline-headline-large-paragraphspacing: 0px;
  --sys-typography-headline-headline-large-textcase: capitalize;
  --sys-typography-headline-headline-medium-fontsize: 28px;
  --sys-typography-headline-headline-medium-textdecoration: none;
  --sys-typography-headline-headline-medium-fontfamily: Inter;
  --sys-typography-headline-headline-medium-fontweight: 600;
  --sys-typography-headline-headline-medium-fontstyle: normal;
  --sys-typography-headline-headline-medium-fontstretch: normal;
  --sys-typography-headline-headline-medium-letterspacing: -1.2px;
  --sys-typography-headline-headline-medium-lineheight: 36px;
  --sys-typography-headline-headline-medium-paragraphindent: 0px;
  --sys-typography-headline-headline-medium-paragraphspacing: 0px;
  --sys-typography-headline-headline-medium-textcase: capitalize;
  --sys-typography-headline-headline-small-fontsize: 24px;
  --sys-typography-headline-headline-small-textdecoration: none;
  --sys-typography-headline-headline-small-fontfamily: Inter;
  --sys-typography-headline-headline-small-fontweight: 500;
  --sys-typography-headline-headline-small-fontstyle: normal;
  --sys-typography-headline-headline-small-fontstretch: normal;
  --sys-typography-headline-headline-small-letterspacing: -1px;
  --sys-typography-headline-headline-small-lineheight: 32px;
  --sys-typography-headline-headline-small-paragraphindent: 0px;
  --sys-typography-headline-headline-small-paragraphspacing: 0px;
  --sys-typography-headline-headline-small-textcase: capitalize;
  --sys-typography-title-title-large-fontsize: 22px;
  --sys-typography-title-title-large-textdecoration: none;
  --sys-typography-title-title-large-fontfamily: Inter;
  --sys-typography-title-title-large-fontweight: 600;
  --sys-typography-title-title-large-fontstyle: normal;
  --sys-typography-title-title-large-fontstretch: normal;
  --sys-typography-title-title-large-letterspacing: -0.85px;
  --sys-typography-title-title-large-lineheight: 28px;
  --sys-typography-title-title-large-paragraphindent: 0px;
  --sys-typography-title-title-large-paragraphspacing: 0px;
  --sys-typography-title-title-large-textcase: capitalize;
  --sys-typography-title-title-medium-fontsize: 16px;
  --sys-typography-title-title-medium-textdecoration: none;
  --sys-typography-title-title-medium-fontfamily: Inter;
  --sys-typography-title-title-medium-fontweight: 600;
  --sys-typography-title-title-medium-fontstyle: normal;
  --sys-typography-title-title-medium-fontstretch: normal;
  --sys-typography-title-title-medium-letterspacing: -0.5px;
  --sys-typography-title-title-medium-lineheight: 24px;
  --sys-typography-title-title-medium-paragraphindent: 0px;
  --sys-typography-title-title-medium-paragraphspacing: 0px;
  --sys-typography-title-title-medium-textcase: capitalize;
  --sys-typography-title-title-small-fontsize: 14px;
  --sys-typography-title-title-small-textdecoration: none;
  --sys-typography-title-title-small-fontfamily: Inter;
  --sys-typography-title-title-small-fontweight: 500;
  --sys-typography-title-title-small-fontstyle: normal;
  --sys-typography-title-title-small-fontstretch: normal;
  --sys-typography-title-title-small-letterspacing: -0.5px;
  --sys-typography-title-title-small-lineheight: 20px;
  --sys-typography-title-title-small-paragraphindent: 0px;
  --sys-typography-title-title-small-paragraphspacing: 0px;
  --sys-typography-title-title-small-textcase: capitalize;
  --sys-typography-body-body-large-fontsize: 16px;
  --sys-typography-body-body-large-textdecoration: none;
  --sys-typography-body-body-large-fontfamily: Inter;
  --sys-typography-body-body-large-fontweight: 500;
  --sys-typography-body-body-large-fontstyle: normal;
  --sys-typography-body-body-large-fontstretch: normal;
  --sys-typography-body-body-large-letterspacing: -0.95px;
  --sys-typography-body-body-large-lineheight: 24px;
  --sys-typography-body-body-large-paragraphindent: 0px;
  --sys-typography-body-body-large-paragraphspacing: 0px;
  --sys-typography-body-body-large-textcase: capitalize;
  --sys-typography-body-body-medium-fontsize: 14px;
  --sys-typography-body-body-medium-textdecoration: none;
  --sys-typography-body-body-medium-fontfamily: Inter;
  --sys-typography-body-body-medium-fontweight: 500;
  --sys-typography-body-body-medium-fontstyle: normal;
  --sys-typography-body-body-medium-fontstretch: normal;
  --sys-typography-body-body-medium-letterspacing: -0.95px;
  --sys-typography-body-body-medium-lineheight: 20px;
  --sys-typography-body-body-medium-paragraphindent: 0px;
  --sys-typography-body-body-medium-paragraphspacing: 0px;
  --sys-typography-body-body-medium-textcase: capitalize;
  --sys-typography-body-body-small-fontsize: 12px;
  --sys-typography-body-body-small-textdecoration: none;
  --sys-typography-body-body-small-fontfamily: Inter;
  --sys-typography-body-body-small-fontweight: 500;
  --sys-typography-body-body-small-fontstyle: normal;
  --sys-typography-body-body-small-fontstretch: normal;
  --sys-typography-body-body-small-letterspacing: -0.85px;
  --sys-typography-body-body-small-lineheight: 18px;
  --sys-typography-body-body-small-paragraphindent: 0px;
  --sys-typography-body-body-small-paragraphspacing: 0px;
  --sys-typography-body-body-small-textcase: capitalize;
  --sys-typography-label-label-large-fontsize: 14px;
  --sys-typography-label-label-large-textdecoration: none;
  --sys-typography-label-label-large-fontfamily: Inter;
  --sys-typography-label-label-large-fontweight: 600;
  --sys-typography-label-label-large-fontstyle: normal;
  --sys-typography-label-label-large-fontstretch: normal;
  --sys-typography-label-label-large-letterspacing: -0.85px;
  --sys-typography-label-label-large-lineheight: 20px;
  --sys-typography-label-label-large-paragraphindent: 0px;
  --sys-typography-label-label-large-paragraphspacing: 0px;
  --sys-typography-label-label-large-textcase: capitalize;
  --sys-typography-label-label-medium-fontsize: 12px;
  --sys-typography-label-label-medium-textdecoration: none;
  --sys-typography-label-label-medium-fontfamily: Inter;
  --sys-typography-label-label-medium-fontweight: 500;
  --sys-typography-label-label-medium-fontstyle: normal;
  --sys-typography-label-label-medium-fontstretch: normal;
  --sys-typography-label-label-medium-letterspacing: -0.5px;
  --sys-typography-label-label-medium-lineheight: 16px;
  --sys-typography-label-label-medium-paragraphindent: 0px;
  --sys-typography-label-label-medium-paragraphspacing: 0px;
  --sys-typography-label-label-medium-textcase: capitalize;
  --sys-typography-label-label-small-fontsize: 11px;
  --sys-typography-label-label-small-textdecoration: none;
  --sys-typography-label-label-small-fontfamily: Inter;
  --sys-typography-label-label-small-fontweight: 500;
  --sys-typography-label-label-small-fontstyle: normal;
  --sys-typography-label-label-small-fontstretch: normal;
  --sys-typography-label-label-small-letterspacing: -0.5px;
  --sys-typography-label-label-small-lineheight: 16px;
  --sys-typography-label-label-small-paragraphindent: 0px;
  --sys-typography-label-label-small-paragraphspacing: 0px;
  --sys-typography-label-label-small-textcase: capitalize;
}
